@use './base-scss/theme-colours.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

.App {
	min-height: 100vh;
}